<!DOCTYPE html>
<html lang="en">

<head>
    <title>Siddarth Bhave; Full-Send Coder</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="SIDDARTH BHAVE; ardent developer, fervent competitive programmer, crafting impactful code and products for diverse industries.">
    <meta name="keywords" content="developer, engineer, algorithms, coding, portfolio, software development, software architecture">
    <meta name="author" content="SIDDARTH BHAVE">

    <meta property="og:title" content="Siddarth Bhave : Software Development Engineer Portfolio">
    <meta property="og:description" content="ardent developer, fervent competitive programmer, crafting impactful code and products for diverse industries.">
    <meta property="og:image:url" content="{{ url_for('static', filename='css/index.css') }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename='css/index.css') }}" />
    <meta property="og:url" content="https://sidbhave.vercel.app">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Siddarth Bhave: Software Development Engineer Portfolio">
    <meta name="twitter:description" content="ardent developer, fervent competitive programmer, crafting impactful code and products for diverse industries.">
    <meta name="twitter:image" content="{{ url_for('static', filename='css/index.css') }}">

    <link rel="canonical" href="https://sidbhave.vercel.app">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/linkedin.jpeg') }}">
    <!-- <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <section class="main-section">
        <header class="header-sub-section">
            <div>
                <a href="#"><h1 style="font-size: 36px; margin-top: 0;">Siddarth Bhave</h1></a>
                <h2 style="font-size: 16px; margin-top: 5px;">Information Management Grad @ <br> University of
                    Washington, Seattle</h2>
                <h3 style="opacity: 0.7; margin-top: 20px;">Full-Send Software Developer & Engineer,
                    Wanna be F1 Strategist</h3>
                <h4 style="opacity: 0.7; margin-top: 20px;">Data Science | DevOps <br> System Architecture | Platform
                    Engineering </h4>
                    <br>
                    <hr>
                    <br>
                <ul class="navbar-menu">
                    <li><a href="#about"> >ABOUT</a></li>
                    <li><a href="#experience"> >EXPERIENCE</a></li>
                    <li><a href="#research"> >R&D</a></li>
                    <li><a href="#publication"> >Publications</a></li>
                    <li><a href="#leadership"> >Leadership</a></li>
                </ul>
            </div>

            <ul class="social-media">
                <li>
                    <a href="mailto:siddarthbhave@gmail.com" target="_blank">
                        <img style="width: 1.5rem; height: 1.5rem;"
                            src="{{ url_for('static', filename='images/email.svg') }}" alt="GitHub">
                    </a>
                </li>
                <li>
                    <a href="https://github.com/siddarthbhave" target="_blank">
                        <img style="width: 1.5rem; height: 1.5rem;"
                            src="{{ url_for('static', filename='images/github.svg') }}" alt="GitHub">
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/siddarthbhave/" target="_blank">
                        <img style="width: 1.5rem; height: 1.5rem;"
                            src="{{ url_for('static', filename='images/linkedin.svg') }}" alt="Linkedin">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/siddarthbhave/" target="_blank">
                        <img style="width: 1.5rem; height: 1.5rem;"
                            src="{{ url_for('static', filename='images/instagram.svg') }}" alt="Instagram">
                    </a>
                </li>
                <li>
                    <a href="https://www.x.com/siddarthbhave/" target="_blank">
                        <img style="width: 1.5rem; height: 1.5rem;"
                            src="{{ url_for('static', filename='images/x.svg') }}" alt="X">
                    </a>
                </li>
            </ul>
        </header>

        <main id="about" class="main-sub-section">
            <p>
                <div>
                <img class="portfolio_pic1" src="{{ url_for('static', filename='images/portfolio_pic1.jpeg') }}" alt="Picture 1">
                </div>
                <br>
                <p>
                Graduate Student at the University of Washington (<b>Go Huskies!</b>). I'm an ardent
                <b> Software Developer</b> and
                <b>Data Engineer</b>. I derive
                a keen sense of thrill and eagerness to learn and develop Software Applications and Products. I'm a
                passionate
                <b> competitive programmer</b> too. 
                </p>
            </p>
            <br>
            <p>
                Having worked as a developer at Morgan Stanley, I choose to follow my desire of  exploring the fields of Data Science. 
                I'm currently delving deeper into <b>Data Science</b> in my graduate
                studies at the <b>University of Washington, Seattle</b>.
            </p>

            <br>

            <hr>

            <section id="experience" class="experience" style="color: white;">
                <div>
                    <ul style="list-style: none; padding-left: 0">
                        <h3>Work Experience </h3>
                        <!-- Experience Section -->

                        <li class="job" style="margin-top: 20px">
                            <a href="https://morganstanley.com/" target="_blank">
                                <div class="job-name">Senior Technology Associate @ </div>&nbsp;
                                <div class="job-company"> Morgan Stanley </div>
                            </a>
                            <div class="job-period">Jan 2024 - Aug 2024</div>
                            <div>
                                <p class="job-description">
                                    - Led benchmarking and engineering efforts to integrate Mimir into firm's
                                    observability stack resulting in seamless
                                    integration with Grafana, increasing metric retention by 50% (+15 days), and
                                    decreasing query time for very-long-range
                                    queries from 5 minutes to 45 seconds
                                </p>
                            </div>


                            <ul class="skill-list">
                                <li class="skill">Python</li>
                                <li class="skill">Kubernetes</li>
                            </ul>
                        </li>

                        <li class="job" style="margin-top: 40px">
                            <a href="https://morganstanley.com/" target="_blank">
                                <div class="job-name">Technology Associate @ </div> &nbsp;
                                <div class="job-company"> Morgan Stanley </div>
                            </a>
                            <div class="job-period">Dec 2022 - Jan 2024</div>
                            <div>
                                <p class="job-description">
                                    - Solely designed and developed a distributed, highly scalable ETL pipeline that
                                    extracted 75 million Kafka records per
                                    minute, transformed them into OpenTSDB format, and loaded them onto a highly
                                    available metrics aggregator, Cortex <br>
                                    - This increased real-time metric retrieval up to 60 days (+200%), reducing query
                                    time by 50%, and encouraging
                                    stakeholders to move towards modern observability, resulting in an early promotion
                                    and a tech-excellence award

                                </p>
                            </div>


                            <ul class="skill-list">
                                <li class="skill">Java</li>
                                <li class="skill">SpringBoot</li>
                                <li class="skill">Python</li>
                            </ul>
                        </li>


                        <li class="job" style="margin-top: 40px">
                            <a href="https://morganstanley.com/" target="_blank">
                                <div class="job-name">Technology Intern @ </div>&nbsp;
                                <div class="job-company"> Morgan Stanley </div>
                            </a>
                            <div class="job-period">Jan 2022 - Dec 2022</div>
                            <div>
                                <p class="job-description">
                                    - Revamped Windows server monitoring across the firm by seamlessly automating the
                                    integration of Prometheus exporter,
                                    which made Windows server monitoring highly available, reduced the system usage for
                                    monitoring by 50% and tripled the
                                    metric export rate for acute monitoring<br>
                                    - Collaborated with cross-functional teams to engineer automated target discovery
                                    and alerting which reduced the server
                                    outage alert time by 75% ( < 30s) and cut down turn-around-time by 20% </p>
                            </div>


                            <ul class="skill-list">
                                <li class="skill">Python</li>
                                <li class="skill">FastAPI</li>
                            </ul>
                        </li>

                        <li class="job" style="margin-top: 40px">
                            <a href="#" target="_blank">
                                <div id="wrapper">
                                    <div class="job-name">Co-founder and Chief Technology Officer @ </div> &nbsp;
                                    <div class="job-company"> Aamara Technologies </div>
                                </div>
                            </a>
                            <div class="job-period">Jul 2022- Sep 2024</div>
                            <div>
                                <p class="job-description">
                                    - Led a team of 15 junior developers and delivered 6 projects to our diverse
                                    customers in just 26 months, while being
                                    completely self-funded and profitable since day 0<br>
                                    - Architected the digitization of an ERP system for a 1,200-employee factory by
                                    automating tool management and tracking
                                    employee efficiency through cross-functional collaboration with industrial managers
                                    and employees, resulting in a 15%
                                    increase in employee efficiency and reducing the bookkeeping time by 75%<br>
                                    - Engineered a LangChain-based chatbot, modeled after Retrieval-Augmented
                                    Generation, enabling autonomous extraction of
                                    data from user corpus and processing natural-language user queries, resulting in
                                    improved customer response time by 20%

                                </p>
                            </div>


                            <ul class="skill-list">
                                <li class="skill">Javascript</li>
                                <li class="skill">Python</li>
                                <li class="skill">AWS</li>
                            </ul>
                        </li>

                        <!-- Experience Section End-->
                    </ul>
                </div>
            </section>
            <hr>


            <!-- Research Experience  -->

            <section id="research" class="experience" style="color: white;">
                <div>
                    <ul style="list-style: none; padding-left: 0">
            
                        <!-- Research Experience Section -->
                        <h3>Research & Projects </h3>
                        <br>
                        <div class="job-name">Research Assistant @</div> &nbsp;
                        <a href="https://msrit.edu/" target="_blank"><div class="job-company">Ramaiah Institute of Technology, Bengaluru, India</div></a>
                        <li class="job" style="margin-top: 20px">
                            
                                <a href="https://ieeexplore.ieee.org/abstract/document/10334180" target="_blank">
                                    <div class="job-name">
                                        Classification of Human Poses Using Deep Learning Techniques
                                    </div>
                                </a>
    
                            <div class="job-period">Mar 2022 - Aug 2022</div>
                            <div>
                                <p class="job-description">
                                    - Rearchitected pose classification using BlazePose and several CNNs on redrawn pose skeletons, increasing efficiency by
                                    7% over state-of-the-art models.

                                </p>
                            </div>
            
                        </li>

                        <li class="job" style="margin-top: 20px">
                            
                                <div class="job-name">Sentiment Classification using Graph Convolution Network</div>
                            <div class="job-period">Mar 2021 - May 2021</div>
                            <div>
                                <p class="job-description">
                                    - Developed a sentiment analysis model using GloVe vector embeddings and Graph CNN, boosting accuracy by 12% over existing
                                    analyzers.
                        
                                </p>
                            </div>
                        
                        </li>
                        <!-- Research Section End-->
                    </ul>
                </div>
            </section>

            <hr>

                        <!-- Publications  -->
                        
                        <section id="publication" class="experience" style="color: white;">
                            <div>
                                <ul style="list-style: none; padding-left: 0">
                        
                                    <!-- Publications Section -->
                                    <h3>Publications </h3>
                                    <br>
                                    <a href="https://ieeexplore.ieee.org/abstract/document/10334180" target="_blank">
                                    <div class="job-company">IEEE Xplore</div>
                                    <li class="job" style="margin-top: 20px">
                                        
                                            <div class="job-name"><b style="font-weight: bold;">S. Bhave</b>, P. Sunagar, S. Rajarajeswari, S. Bhave, S. Kamate, and S. S. Seru, "Classification of Human Poses Using Deep
                                            Learning Techniques," 2023 7th International Conference on Computation System and Information Technology for Sustainable
                                            Solutions (CSITSS), Bangalore, India, 2023, pp. 1-7. IEEE CSITSS-23 Best Paper Award</div>
                                        </a>
                                        <div class="job-period">Dec 2023</div>
                        
                                    </li>
                                    <!-- Publications End-->
                                </ul>
                            </div>
                        </section>

                        <hr>
                        
                        
                        <!-- Leadership Experience  -->
                        
                        <section id="leadership" class="experience" style="color: white;">
                            <div>
                                <ul style="list-style: none; padding-left: 0">
                        
                                    <!-- Leadership Section -->
                                    <h3>ACHIEVEMENTS AND LEADERSHIP </h3>
                                    <br>
                                    
                                    <li class="job" style="margin-top: 20px">
                                        <a href="https://ieeexplore.ieee.org/abstract/document/10334180" target="_blank">
                                        <div class="job-company">🚀 IEEE CSITSS-23 Best Paper Award (Intelligent Systems Track), RVCE, Bangalore, India</div>
                                        </a>
                                        <div class="job-period">Nov 2023</div>
                                    </li>

                                    <li class="job" style="margin-top: 20px">
                                        <div class="job-company">🔥 Technology Analyst Program (TAP) Grad, (EE Track) @ Morgan Stanley, Bangalore</div>
                                    
                                        <div class="job-period">Dec 2022</div>
                                    </li>


                                    <li class="job" style="margin-top: 20px">
                                        <div class="job-company">🏅 Best Capstone Award @ dept. of CSE, Ramaiah Institute of Technology</div>
                    
                                        <div class="job-period">May 2022</div>
                                    </li>

                                    <li class="job" style="margin-top: 20px">
                                        <div class="job-company">🧑‍💻 Core Member, Google Developer Student Club, Ramaiah Institute of Technology</div>
                                    
                                        <div class="job-period">Jan 2019 - Jan 2021</div>
                                    </li>

                                    <li class="job" style="margin-top: 20px">
                                        <div class="job-company">👨‍🚀 ExeCom Web Team, IEEE Student Branch, M S Ramaiah Institute of Technology</div>
                                    
                                        <div class="job-period">Jan 2019 - Jan 2021</div>
                                    </li>

                                    <li class="job" style="margin-top: 20px">
                                        <div class="job-company">🎉 Winner of Smart India Hackathon (Software Edition), NIT Patna, India</div>
                                    
                                        <div class="job-period">Dec 2019</div>
                                    </li>
                                    <!-- Leadership End-->
                                </ul>
                            </div>
                        </section>
                        <hr>
        </main>
    </section>
</body>


</html>